.game {
    width: fit-content;
    margin: auto;
    display: grid;
}

.game--disabled {
    pointer-events: none;
    opacity: 0.7;
}

.game__field {
    background-color: white;
    font-size: 35px;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

.game__field--bomb {
    background-color: red;
    background-image: url("ico.ico");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.game__field--greenBomb {
    background-color: green;
    background-image: url("ico.ico");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.game__field--border {
    background-color: teal;
}

.game__button {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 0;
    background-color: hsl(0, 0%, 80%);
    border: 2px outset white;
}

.game__button--hidden {
    display: none;
}

.game__button--rightClicked {
    background-image: url("ico.ico");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}